/* 

Styles:		David Charles Lewis

version: 	1.0 — 05/18/20 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://davidcharleslewis.com
 

/* FOUNDATION */

	*, html, body, div, span, object, iframe,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li, img, figure, figcaption,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased; 
		font-smoothing: antialiased;
		margin: 0;
		padding: 0;
		outline: none;
		}

	* {
		margin: 0;
		padding: 0;
	}

	html {
    	font-size: 16px;
	}

	@media(min-width:700px) {
	    html {
	        font-size: 16px
	    }
	}

	@media(min-width:1200px) {
	    html {
	        font-size: 17px
	    }
	}

	@media(min-width:1400px) {
	    html {
	        font-size: 18px
	    }
	}

	body {
		line-height: 1.5;
		overflow-x: hidden;
		background: white;
		margin: 0 auto;
		max-width: 750px;
	}

	header {
		margin: 3rem auto;
		padding: 0;
		text-align: center;
	}

/* TYPOGRAPHY */

	body {
		background: rgb(255,255,241);
		background: linear-gradient(180deg, rgba(255,255,241,1) 0%, rgba(241,238,198,0.1783088235294118) 100%);
		color: DarkSlateGray;
		font: 400 1.25em/1.5em "freight-neo-pro", sans-serif;
	}

	p {
		margin-bottom: 1.5em;
	}

	h1 {
		font-size: 3em;
		line-height: 1.5em;
  	}

	h2 {
		font-size: 1.5em;
		line-height: 1em;
	}

	h3 {
		font-size: 1em;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 1.5em;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}

	header span,
	footer span {
		color: #bf0a30;
		display: block;
		font-size: 1.5em;
		margin: 1em auto .5em;
		text-align: center;
	}

	header img { 
		border-radius: 2px;
		margin: 2rem auto;
		width: 80%; 
		-webkit-box-shadow: 0 20px 10px -10px #bbb;
		-moz-box-shadow: 0 20px 10px -10px #bbb;
		box-shadow: 0 20px 10px -10px #bbb;
	}

 	a {
 		border-bottom: 2px solid #bf0a30;
 		color: #bf0a30;
		font-size: .75em;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: .75em;
		padding-bottom: .1rem;
		text-decoration: none;
		text-transform: uppercase;	
 	}

	a.button {
		background: #bf0a30;
		border: none 0;
		color: #fff;
		border-radius: 7px;
		margin: 0 auto;
		text-transform: uppercase;	
		padding: .5rem 1rem;
	}

  	footer {
  		margin: 0;
  		padding: 0 0 4rem;
   }

   footer p {
   		text-align: center;
   }
   

/* SECTION -- DEM GRIDS */

	section {
		border-top: 2px solid DarkSlateGray; 
		padding: 2rem 0;
	}

	.centered {
		margin: 0 auto 2rem;
		text-align: center;
	}

	iframe {
		height: 60%;
		margin-bottom: 1.5rem;
		width: 60%;
	}

/* SECTION -- FOOTER */

	footer {
		border-top: 2px solid DarkSlateGray; 
		padding-top: 1rem;
	}

	.grid {
		    display: grid;
			grid-template-columns: 45% 45%;
			grid-column-gap: 10%;
			margin-top: 2rem;
		}


/* WEE SCREENS */

		@media (min-width: 100px) and (max-width: 1000px) {


		body {
			font: 400 1.25em/1.5em "freight-neo-pro", sans-serif;
			margin: 0 auto;
			max-width: 90vw;
			padding: 0;
		}

		.centered p { text-align: left; }

		header img { 
			width: 95%; 
		}


		iframe {
			height: 60%;
			width: 100%;
		}


		.grid {
		    display: block;
			margin-top: 2rem;
			text-align: center;
		}

		.grid div { 
			margin-bottom: 2rem; 
		}

		.grid .centered p {
			text-align: center;
		}
		
		h1 {
			font-size: 3em;
			line-height: 1em;
	  	}

		h2 {
			font-size: 1.25em;
			line-height: 1.25em;
		}

		h3 {
			font-size: 1.25em;
			line-height: 1.25em;
			margin-bottom: 1.25rem;
		}
	}
